
<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
	<meta name="tagline" content="LED & Customized Lights" />


	<!--[if lte IE 8]>
	<script type="text/javascript" src="js/html5shiv.js"></script>
	<script src="js/excanvas.js"></script>
	<![endif]-->

	<title>About Us | Interio Lighting | LED & Customized Lights | www.interio.lighting</title>

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

	<link rel='stylesheet' href='css/style-front.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/animate.min.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/grid.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/header-transparent.css' type='text/css' media='all' />
</head>


<body class="home page page-template-default loading layout-wide responsive responsive">

	<div id="mobile-menu-container">
		<button type="button" id="toggle-mobile-menu" class="toggle-button" data-target="main-menu-wrapper">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="mobile-menu-triangle">
		</div>
		<div id="mobile-menu-wrapper" class="mobile-menu">
			<ul id="menu-top-menu" class="menu">
				<li class="menu-item current-menu-item current_page_item menu-item-home menu-item-has-children cmo-megamenu"><a href="index-2.html">Home</a>
			</ul>
		</div>
	</div>

	<!-- Main Nav -->
	<header id="cmo-header" class="header-style-3 slider-nav enable-sticky">
	<div id="header-info-bar" class="">
		<div class="">
			<span class="info-email"><span class="info-icon-wrapper"><i class="fa fa-envelope-o"></i></span><span><a href="mailto:info@interio.lighting">info@interio.lighting</a></span></span>
			<span class="info-phone"><span class="info-icon-wrapper"><i class="fa fa-phone"></i></span><span><a href="tel:+9199925548896">+91 999255 48896</a></span></span>
			<span class="info-phone"><span class="info-icon-wrapper"><i class="fa fa-sign-in"></i></span><span><a href="http://www.interio.lighting/webmail" target="_blank">Employee Login</a></span></span>
			<ul class="header-social">
				<li><a href="https://www.facebook.com/CustomizedLEDLighting/" class="social-facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/LightingInterio" class="social-twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://plus.google.com/u/6/102146490157886818800" class="social-google-plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="https://in.linkedin.com/in/interio-lighting" class="social-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#" class="social-instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>
	</div>


	<nav class="m-l-50 m-r-20">
	<div class="mobile-nav">
		<button type="button" id="navbar-toggle" class="toggle-button" data-target="mobile-menu-container">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div id="logo-header">
		<a class="logo" href="index.php">
		<span><img src="images/logo.jpg" width="80px" alt="Logo"/></span>
		<span><img src="images/logo.jpg" width="150px" alt="Default Logo Light"/></span>
		</a>
	</div>
	<div id="main-menu-wrapper" class="main-menu">
		<ul id="menu-top-menu-1" class="menu">
			<li class="menu-item"><a href="index.php">Home</a></li>
			
			<li class="menu-item "><a href="javascript:;">About Us <i class="fa fa-chevron-down"></i></a>
				<ul class="cmo-megamenu-sub-menu sub-menu">
					<li class="menu-item "><a href="about-us.php"><span class='resp-nav-gap'></span><span class='resp-nav-gap'></span>Who are we?</a></li>
					<li class="menu-item "><a href="about-us.php#director-msg"><span class='resp-nav-gap'></span><span class='resp-nav-gap'></span>Director's Message</a></li>
				</ul>
			</li>
			<li class="menu-item "><a href="about-us.php">About LED <i class="fa fa-chevron-down"></i></a>
				<ul class="cmo-megamenu-sub-menu sub-menu">
					<li class="menu-item "><a href="about-led.php"><span class='resp-nav-gap'></span><span class='resp-nav-gap'></span>Why LED?</a></li>
					<li class="menu-item "><a href="led-calculator.php"><span class='resp-nav-gap'></span><span class='resp-nav-gap'></span>Led Power Savings Calculator</a></li>
				</ul>
			</li>

			<!-- <li class="menu-item cmo-megamenu"><a href="javascript:;">Products <i class="fa fa-chevron-down"></i></a>
				<ul class="cmo-megamenu-wrapper">
									<li class="menu-item menu-item-has-children cmo-megamenu-column"><a href="#"><span class='resp-nav-gap'></span>Spot Lights<span class="caret"></span></a>
						<ul class="cmo-megamenu-sub-menu sub-menu">
							<li class="menu-item "><a href="products.php?category=1"><span class='resp-nav-gap'></span><span class='resp-nav-gap'></span>Spot Light</a></li>
						</ul>
					</li>
									<li class="menu-item menu-item-has-children cmo-megamenu-column"><a href="#"><span class='resp-nav-gap'></span>Track Lights<span class="caret"></span></a>
						<ul class="cmo-megamenu-sub-menu sub-menu">
							<li class="menu-item "><a href="products.php?category=3"><span class='resp-nav-gap'></span><span class='resp-nav-gap'></span>Track Light</a></li>
						</ul>
					</li>
									<li class="menu-item menu-item-has-children cmo-megamenu-column"><a href="#"><span class='resp-nav-gap'></span>Profile Lights<span class="caret"></span></a>
						<ul class="cmo-megamenu-sub-menu sub-menu">
							<li class="menu-item "><a href="products.php?category=2"><span class='resp-nav-gap'></span><span class='resp-nav-gap'></span>Profile Light</a></li>
						</ul>
					</li>
									<li class="menu-item menu-item-has-children cmo-megamenu-column"><a href="#"><span class='resp-nav-gap'></span>Zoom Lights<span class="caret"></span></a>
						<ul class="cmo-megamenu-sub-menu sub-menu">
							<li class="menu-item "><a href="products.php?category=4"><span class='resp-nav-gap'></span><span class='resp-nav-gap'></span>Zoom Light</a></li>
						</ul>
					</li>
								</ul>
			</li> -->

			<li class="menu-item cmo-megamenu"><a href="testimonials.php">Testimonials</a></li>
			
			<li class="menu-item cmo-megamenu"><a href="gallery.php">Gallery</a></li>
			
			<li class="menu-item cmo-megamenu"><a href="career.php">Career</a></li>
			
			<li class="menu-item cmo-megamenu"><a href="contact-us.php">Contact Us</a></li>
			
			
		</ul>
	</div>
	</nav>
	</header>

	<div class="cmo-page-title about_us">
		<div class="vcenter">
			<div class="container">
				<div class="page-title-container text-center">
					<div class="tp-caption cmo-white-montserrat-100 tp-resizeme " id="slide-81-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="-100" data-width="['1200']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;" data-mask_in="x:0px;y:0px;" data-start="650" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; min-width: 1200px; min-height: auto; white-space: normal; max-width: 1200px; max-height: auto; font-size: 60px; line-height: 60px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;text-align:center;border-color:rgba(0, 0, 0, 1.00);">
						<div class="lighitup"><span class="c-blackwhite">About</span> <span class="c-orangeblack">Us</span></div>
					</div>



				</div>
			</div>
		</div>
	</div>

	<div id="who-are-we">
		<div class="page-content container page-page m-t-20">
			<div style="background-attachment: scroll !important;" class="row row-fluid">
				<div class="col-sm-12 wpb_column column_container ">
					<div class="wpb_wrapper">
						<div class="cmo-section-header wpb_content_element clearfix text-center " id='cmo-section-header-1'>
							<h2 class='heading'>WHO WE ARE?</h2>
							<div class='separator'></div>
							<p class='header-text'>
							</p>
						</div>
						<div class="row wpb_row inner row-fluid">
							<div class="wpb_column column_container col-sm-6">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper wow bounceInLeft uppercase">
											<p>
												We <span class="highlight">“Interio Lighting”</span> situated at Ahmedabad (Gujarat, India) established in the year 2012, have gained accreditation in the field of manufacturing customized lights , trading and supplying an outstanding range of Indoor Lighting and Outdoor Lighting. 
											</p>
											<p>
												Our firm is supported by advanced infrastructural base which is constructed over a large area of land.  To manage our infrastructural base in a smooth manner, we have a team of competent  Professionals who are expert in their work domain.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="wpb_column column_container col-sm-6">
								<div class="wpb_wrapper">
									<div class='cmo-progress-bar progressbars-page wpb_content_element' id='cmo-progress-bar-19' data-value='100'>
										<h4 class='title'>OUR QUALITY</h4>
										<div class='meter'>
											<div class='gauge'>
												<div class='value background-set'>
													<span>100</span>%
												</div>
											</div>
										</div>
									</div>
									<div class='cmo-progress-bar progressbars-page wpb_content_element ' id='cmo-progress-bar-23' data-value='100'>
										<h4 class='title'>OUR CREATIVITY</h4>
										<div class='meter'>
											<div class='gauge'>
												<div class='value background-set'>
													<span>100</span>%
												</div>
											</div>
										</div>
									</div>
									<div class='cmo-progress-bar wpb_content_element ' id='cmo-progress-bar-4' data-value='100'>
										<h4 class='title'>OUR DESIGN</h4>
										<div class='meter'>
											<div class='gauge'>
												<div class='value background-set'>
													<span>100</span>%
												</div>
											</div>
										</div>
									</div>
									<div class='cmo-progress-bar progressbars-page wpb_content_element ' id='cmo-progress-bar-27' data-value='100'>
										<h4 class='title c-black'>OUR EFFORT</h4>
										<div class='meter'>
											<div class='gauge'>
												<div class='value background-set'>
													<span>100</span>%
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row inner row-fluid">
							<div class="wpb_column column_container col-sm-12">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper wow bounceInLeft uppercase">
											<p>
												Owing to the support and assistance of our team and our advanced infrastructural base, we are able to serve the voluminous market demands. In order to achieve the company goals and objectives, our team members  out forth their maximum efforts. 
											</p>
											<p>
												We deal in brands such as iguzzini, Nirvana, Hybec, Corvi, Samson etc. The offered range of  lights is assembled in compliance with the latest technology using quality assured  components by our professionals. This product range is widely acknowledged in the market  for its noteworthy attributes such as easy-installation, instant start, compact design,  attractive look, optimum brightness and low maintenance. Apart from this, we offer this  range at an affordable price.

											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div id="director-msg" class="lightbg">
		<div class="page-content container page-page m-t-20">
			<div style="background-attachment: scroll !important;" class="row row-fluid">
				<div class="col-sm-12 wpb_column column_container ">
					<div class="wpb_wrapper wow bounceInLeft">
						<div class="cmo-section-header wpb_content_element clearfix text-center " id='cmo-section-header-1'>
							<h2 class='heading'>Director's Message</h2>
							<div class='separator'></div>
							<p class='header-text'>
							</p>
						</div>
						<div class="row wpb_row inner row-fluid">
							<div class="wpb_column column_container col-sm-12">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<p class="text-center uppercase">
												<i class="fa fa-quote-left" style="font-size: 26px;margin: 10px;"></i> We combine creative design with experience to create and deliver our customers’ expectations. Our local experience enables us to rise to any challenge to deliver the best product possible. We believe that there is no better business referral than that given by a satisfied customer. We promise to incorporate creativity to enhance the product experience, and create inspiring spaces. <i class="fa fa-quote-right" style="font-size: 26px;margin: 5px;"></i> 
											</p>


											<div class="cmo-section-header wpb_content_element clearfix text-right">
												<h4 class='heading'>
													- Vicky Ahuja (Founder)
												</h4>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


	<footer id="cmo-footer" class="footer-style-1">
		<div class='footer-widgets'>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<aside class="cmo-sidebar">
						<div id="text-2" class="cmo-footer-sidebar-1 clearfix widget_text">
							<div class="textwidget">
								<h3>Contact Info</h3>
								<div class="cmosc-contact-info">
									<i class="fa fa-envelope-o"></i>
									<div>
										info@interio.lighting
									</div>
								</div>
								<div class="cmosc-contact-info">
									<i class="fa fa-phone"></i>
									<div>
										+91 99255 48896
									</div>
								</div>
								<div class="cmosc-contact-info">
									<i class="fa fa-map-marker"></i>
									<div>
										63 Meladi Estate, Near Meladi Mata Temple, Gota, Ahmedabad-382481, Gujarat, India 
									</div>
								</div>
							</div>
						</div>
						</aside>
					</div>
					<div class="col-md-3">
						<aside class="cmo-sidebar">
						<div id="text-3" class="cmo-footer-sidebar-2 clearfix widget_text">
							<h3>Navigation Links</h3>
							<div class="textwidget" style="border-top: 1px solid rgba(255,255,255,0.05);">
								<div class="row">
									<div class="col-sm-6">
										<div class="cmosc-link">
											<a href="index.php"><i class="fa fa-angle-double-right"></i>Home</a>
										</div>
										<div class="cmosc-link">
											<a href="about-us.php"><i class="fa fa-angle-double-right"></i>About Us</a>
										</div>
										<div class="cmosc-link">
											<a href="products.php?category=1"><i class="fa fa-angle-double-right"></i>Products</a>
										</div>
										<div class="cmosc-link">
											<a href="career.php"><i class="fa fa-angle-double-right"></i>Career</a>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="cmosc-link">
											<a href="testimonials.php"><i class="fa fa-angle-double-right"></i>Testimonials</a>
										</div>
										<div class="cmosc-link">
											<a href="gallery.php"><i class="fa fa-angle-double-right"></i>Gallery</a>
										</div>
										<div class="cmosc-link">
											<a href="contact-us.php#locate-us"><i class="fa fa-angle-double-right"></i>Locate Us</a>
										</div>
										<div class="cmosc-link">
											<a href="contact-us.php"><i class="fa fa-angle-double-right"></i>Contact Us</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						</aside>
					</div>
					<div class="col-md-3">
						<aside class="cmo-sidebar">
						<div id="categories-4" class="cmo-footer-sidebar-3 clearfix widget_categories">
							<h3>Our Categories</h3>
							<!-- <ul style="border-top: 1px solid rgba(255,255,255,0.05);">
															<li class="cat-item" style="display: block;"><a href="products.php?category=1">Spot Light</a></li>
															<li class="cat-item" style="display: block;"><a href="products.php?category=3">Track Light</a></li>
															<li class="cat-item" style="display: block;"><a href="products.php?category=2">Profile Light</a></li>
															<li class="cat-item" style="display: block;"><a href="products.php?category=4">Zoom Light</a></li>
														</ul> -->
						</div>
						</aside>
					</div>
					<div class="col-md-3">
						<aside class="cmo-sidebar">
						<div id="text-4" class="cmo-footer-sidebar-4 clearfix widget_text">
							<h3>Brands We Offer</h3>
							<div class="textwidget" style="border-top: 1px solid rgba(255,255,255,0.05);">

								<marquee behavior="scroll" direction="up" loop="-1" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()" style="width: 100%; height: 200px">
					                <div>
	                                    <div class="cmo-testimonial-item color-white">
	                                    	<a href="http://trix.co.in/" target="_blank">
	                                        <div class="col-md-4"><img src="images/brands/trix.jpg"></div>
	                                        <div class="col-md-8 name uppercase">Trix<p><span class='position'>#Lighting #Trix</span></p></div>
	                                        </a>
	                                    </div>
	                                    <div class="clearfix"></div>
	                                    <div class="cmo-testimonial-item color-white">
	                                    	<a href="http://www.hybec.net/" target="_blank">
	                                        <div class="col-md-4"><img src="images/brands/hybec.jpg"></div>
	                                        <div class="col-md-8 name uppercase">Hybec<p><span class='position'>#Lighting #Hybec</span></p></div>
	                                        </a>
	                                    </div>
	                                    <div class="clearfix"></div>
	                                    <div class="cmo-testimonial-item color-white">
	                                    	<a href="http://www.corvi.com/" target="_blank">
	                                        <div class="col-md-4"><img src="images/brands/corvi.jpg"></div>
	                                        <div class="col-md-8 name uppercase">Corvi<p><span class='position'>#Lighting #Corvi</span></p></div>
	                                        </a>
	                                    </div>
	                                    <div class="clearfix"></div>
	                                    <div class="cmo-testimonial-item color-white">
	                                    	<a href="http://www.samsonlighting.com/" target="_blank">
	                                        <div class="col-md-4"><img src="images/brands/samson.jpg"></div>
	                                        <div class="col-md-8 name uppercase">Samson<p><span class='position'>#Lighting #Samson</span></p></div>
	                                        </a>
	                                    </div>
	                                    <div class="clearfix"></div>
<!-- 	                                    <div class="cmo-testimonial-item color-white">
	                                        <div class="col-md-4"><img src="images/brands/nirvana.jpg"></div>
	                                        <div class="col-md-8 name uppercase">Nirvana<p><span class='position'>#Lighting #Nirvana</span></p></div>
	                                    </div> -->
					                </div>
					            </marquee>
								
							</div>
						</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<div id="footer-copyright-bar">
			<div class="container">
				<nav id="footer-nav" class="pull-left">
				<div id="footer-menu-wrapper" class="main-menu">
					<ul id="menu-top-menu-2" class="menu">
						<li class="menu-item"><a href="https://www.facebook.com/CustomizedInterioLighting/" target="_blank" class="social-facebook-square"><i class="fa fa-facebook-square"></i></a></li>
						<li class="menu-item"><a href="https://twitter.com/LightingInterio" class="social-twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li class="menu-item"><a href="https://in.linkedin.com/in/interio-lighting" class="social-linkedin-square" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
						<li class="menu-item"><a href="https://plus.google.com/u/6/102146490157886818800" class="social-google-plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						<li class="menu-item"><a href="#" class="social-instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
				</nav>
				<div id="footer-copyright-text" class="pull-right">
					 Powered by <a href="http://www.webyug.in">WEBYUG</a>
				</div>
			</div>
		</div>
	</footer>
	<div class='cmo-to-top'>
		<a href='javascript:void(0);' class='cmo-to-top-anchor'><i class='fa fa-chevron-up'></i></a>
	</div>

<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/jquery-migrate.min.js'></script>

<script type='text/javascript' src='js/plugins.js'></script>
<script type='text/javascript' src='js/theme.js'></script>
<script type="text/javascript">

</script>



</body>

</html>